html, body {
  margin: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  width: 100vw;  
}
.button{
  flex: calc(100%/3);
}
/* account for differences in resolution */
#paper{
  flex-basis: calc((100%/3) - 6.65%);
}
.button img {
  max-width: 100%;
}