html, :root, body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sigmar', Arial, Helvetica, sans-serif;
  font-size: 20px;
  min-width: 330px;
  /* Color Scheme */
  --brown-1: hsl(0, 9%, 48%);
  --brown-2: hsl(0, 28%, 77%);
  --brown-3: hsl(0, 33%, 94%);
  --brown-4: hsl(47, 58%, 95%);
  --green: hsla(95, 100%, 87%, 0.9);
  --red: hsla(346, 77%, 65%, 0.9);
  --gray: hsla(40, 19%, 85%, 0.9);
  --blue: hsl(215, 73%, 16%);
}
/* For those margins no one asked for */
hgroup, h2, h3, p, footer, ul {
  margin: 0;
}
/* Start of scoreboard styling */
#score{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  column-gap: 2rem;
  background-color: var(--brown-1);
  color: whitesmoke;
  padding: max(1vw, 1rem);
}
#score > h2 {
  font-size: 2.5rem;
}
#score > h3 {
  font-size: 1.5rem;
}
/* End of scoreboard styling */

/* Styling result (nested in aside) */
aside {
  position: fixed;
  z-index: 1;
  top: 40vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#result {
  font-size: min(2rem, 6vw);
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--gray);
}
#result.win {
  background-color: var(--green);
}
#result.win::after{
  content: " 🙌";
}
#result.loss {
  background-color: var(--red);
}
#result.loss::after {
  content: " 😢";
}
#result.end {
  width: 75vw;
}
/* End of styling result */

/* Start of main section styling */
main{
  margin: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
main > div {
  flex: 380px;
  border-radius: 2rem;
  padding: 1rem;
}

/* Start of styling for div where the player makes a pick */
#players {
  display: flex;
  gap: 5%;
  background-color: var(--brown-3);
}
.button{
  flex-basis: 30%;
}
.button p {
  font-size: min(4w, 1.5rem);
  text-align: center;
}
.button img {
  max-width: 100%;
  scale: 1;
  transition-property: scale;
  transition-duration: 0.25s;
}
.button img:hover {
  scale: 1.05;
}
/* End of player div styling */

/* Start of styling for div which shows computer's "choice" */
#computers {
  background-color: var(--brown-4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image" "choice";
}
#computers #desktop {
  grid-area: "image";
  max-width: 100%;
}
#computers p {
  text-align: center;
}
#computers > div{
  grid-area: "choice";
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
}
#computers > div > img#choice {
  max-width: 100%;
  max-height: max(20vw, 10rem);
  object-fit: scale-down;
}

/* Footer */
footer{
  display: flex;
  background-color: var(--blue);
  color: var(--gray);
  padding: 1.5rem;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: hsl(215, 50%, 50%);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}